/* HeroDetailComponent's private CSS styles */

.container {
	padding-top: 8rem;
}

h2 {
	text-align: center;
	margin-top: 32px;
	margin-bottom: 52px;
	letter-spacing: -1px;
}

input {
	margin: 10px 0 15px 0;
}

button:disabled {
	background-color: #eee;
	color: #ccc;
	cursor: auto;
}

.details {
	width: 30%;
	margin: 0 auto;
}

.id {
	margin-bottom: 5px;
}

.detail-id {
	background-color: #00c4a7;
	color: white;
	padding: 0 5px;
	border-radius: 3px;
}

.back {
	margin-right: 20px;
}

.delete-hero {
	margin-left: 20px;
}
