.hero.is-primary {
	padding-top: 8rem;
}

.hero-body {
	padding: 0 3rem 1rem 3rem;
}

.main-title {
	text-align: center;
	font-weight: bold;
	letter-spacing: -1px;
}

.heroes-wrapper {
	display: flex;
	justify-content: center;
}

.heroes li:hover {
	background-color: rgb(255, 252, 252);
}

.heroes-wrapper .heroes {
	display: flex;
	flex: 1;
	flex-wrap: wrap;
	margin-left: 0;
	justify-content: center;
	margin-bottom: 2rem;
}

.tile.is-child {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	margin: 0 2rem 2rem 2rem !important;
	min-width: 225px;
	max-width: 250px;
	flex-wrap: nowrap;
	align-content: center;
}

.tile.is-child a {
	margin-right: 15px;
}

.heroes-card {
	margin: 1rem !important;
}

.add-hero-wrapper {
	margin: 6rem auto;
	width: 30%;
}

.add-button {
	width: 100%;
}

.new-hero {
	margin: 10px 0 15px 0;
}

.hero-delete {
	margin-left: auto;
}

.badge {
	background-color: #00c4a7;
	padding: 5px 10px;
	border-radius: 5px;
	color: white;
	margin-left: -10px;
	margin-right: 5px;
}

.hero-name-link {
	margin-left: 5px;
	font-size: 1.2rem;
	color: black;
	padding-right: 10px;
}
