<div class="hero is-primary">
	<h2 class="title main-title is-2">HALL OF HEROES</h2>
	<div class="heroes-wrapper">
		<ul class="heroes tile is-parent">
			<!-- To have access to each individual hero and list them all, use *ngFor to iterate through -->
			<a
				*ngFor="let hero of heroes"
				routerLink="/detail/{{ hero.id }}"
				class="heroes-link tile is-child box"
			>
				<span class="badge">{{ hero.id }}</span>
				<span class="hero-name-link">{{ hero.name }}</span>
				<button
					type="button"
					class="delete hero-delete"
					title="delete hero"
					(click)="delete(hero)"
				></button>
			</a>
		</ul>
	</div>
</div>

<div class="add-hero-wrapper">
	<label for="new-hero" class="hero-name">Hero Name:</label>
	<input id="new-hero" #heroName class="input is-primary new-hero" />
	<!-- (click) passes input value to add() and then clears the input -->
	<button
		type="button"
		class="button is-primary add-button"
		(click)="add(heroName.value); heroName.value = ''"
	>
		Add Hero
	</button>
</div>
